%h1
  = @board.name
  = link_to 'New Column', new_board_board_column_path(@board), class: 'btn btn-primary float-end rounded-0'

.row.mt-4
  - @board.board_columns.each do |column|
    .col-md-3.d-flex.flex-column.mb-4.border-end
      .card.rounded-0.flex-fill
        .card-body
          .d-flex.justify-content-between.align-items-center
            %h5.card-title.mb-0= column.name
            = link_to board_board_column_path(@board, column), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-danger' do
              %i.bi.bi-trash
