.card-body.rounded-1
  .d-flex.justify-content-between.align-items-center.mb-2
    %h5.card-title.mb-0
      = card.title
    .d-flex.gap-2
      = link_to edit_card_path(card), class: 'text-default' do
        %i.bi.bi-pencil
      = link_to card_path(card), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-danger' do
        %i.bi.bi-trash
  .card-text
    = card.description
